
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

.border {
  margin: 0; /* Remover margens */
  padding: 0; /* Remover preenchimento */
}

body {
    font-family: 'Inter', sans-serif;
  }
  
  h1 {
    font-weight: 700;
  }
  
  p {
    font-weight: 400;
  }

  button{
    font-weight: 700;
  }


  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .animate-marquee {
    display: flex;
    gap: 1rem;
    animation: marquee 30s linear infinite;
    width: calc(17 * (48px + 1rem));
  }


/* Estilo da barra de rolagem */
.scrollbar-custom {
  scrollbar-width: thin; /* Para Firefox */
  scrollbar-color: #aad4f5 #f5f5f5; /* Cor do "thumb" e da barra no Firefox */
}

/* Para navegadores baseados no WebKit (Chrome, Safari, Edge) */
.scrollbar-custom::-webkit-scrollbar {
  width: 12px; /* Largura da barra de rolagem */
  height: 12px; /* Altura da barra de rolagem horizontal */
}

/* Fundo da barra de rolagem */
.scrollbar-custom::-webkit-scrollbar-track {
  background-color: #f5f5f5; /* Fundo da barra */
}

/* Parte que se move na barra de rolagem */
.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #aad4f5; /* Cor azul delicado para o thumb */
  border-radius: 10px; /* Bordas arredondadas para um visual mais suave */
}

/* Cor ao passar o mouse por cima */
.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background-color: #8cbfe3; /* Cor mais escura ao hover */
}
